<a href="https://colab.research.google.com/github/muhammedafsalpm/ICT-Academy-of-Kerala/blob/main/Assignment_on_Statistics_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [65]:
import pandas as pd
import numpy as np

**Assignment on Statistics **
1. An Institution wishes to find out their studentâ€™s ability in
mathematics, reading and writing skills. The Institution
wants to do an exploratory study to check the following
information.

In [66]:
df = pd.read_csv('/content/Students_Performance.csv')
df.head(6)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group C,some high school,free/reduced,none,0,17,10
1,female,group B,high school,free/reduced,none,8,24,23
2,female,group B,some high school,free/reduced,none,18,32,28
3,female,group B,some college,standard,none,11,38,32
4,female,group C,some college,free/reduced,none,22,39,33
5,female,group B,high school,free/reduced,completed,23,44,36

In [67]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB
None

In [68]:
# a.  Find out how many males and females participated in the test.

df['gender'].value_counts()

gender
female    518
male      482
Name: count, dtype: int64

In [69]:
# b. What do you think about the students' parental level of education?

df['parental level of education'].value_counts()

parental level of education
some college          226
associate's degree    222
high school           196
some high school      179
bachelor's degree     118
master's degree        59
Name: count, dtype: int64

In [70]:
''' c. Who scores the most on average for math, reading and writing based on
i. Gender'''

# Calculate average scores by gender
average_scores_by_gender = df.groupby('gender')[['math score', 'reading score', 'writing score']].mean()
print(average_scores_by_gender)

        math score  reading score  writing score
gender
female   63.376448      72.590734      72.467181
male     68.821577      65.545643      63.446058

In [71]:
#ii.  Test preparation course

# Calculate average scores by gender
average_scores_by_test_preparation_course = df.groupby('test preparation course')[['math score', 'reading score', 'writing score']].mean()
print(average_scores_by_test_preparation_course)

                         math score  reading score  writing score
test preparation course
completed                  69.96648      74.175978      74.684358
none                       63.78972      66.417445      64.457944

In [72]:
'''d. What do you think about the scoring variation for
math, reading and writing based on
i. Gender'''

# Calculate standard deviation by gender for math, reading, and writing
std_dev_scores_gender = df.groupby('gender')[['math score', 'reading score', 'writing score']].std()
print(std_dev_scores_gender)

        math score  reading score  writing score
gender
female   16.029928      14.411018      14.844842
male     14.556411      14.149594      14.227225

In [73]:
# ii. Test preparation course
std_dev_test_preparation_course = df.groupby('test preparation course')[['math score', 'reading score', 'writing score']].std()
print(std_dev_test_preparation_course)

                         math score  reading score  writing score
test preparation course
completed                 14.521847      13.537572      13.236412
none                      15.705689      14.608896      15.041667

In [74]:
# e. The management needs your help to give bonus points to the top 25% of students based on their math score, so how will you help the management to achieve this.

# Step 1: Sort DataFrame by 'math score' in descending order
df_sorted = df.sort_values(by='math score', ascending=False)

# Step 2: Calculate the math score threshold for top 25%
top_25_threshold = df_sorted['math score'].quantile(0.75)

# Step 3: Filter students above the threshold
top_25_students = df_sorted[df_sorted['math score'] >= top_25_threshold]

# Step 4: Apply bonus points or further action for these students
# For example, print or manipulate the top 25% students' data
print("\nTop 25% of Students based on Math Score:")
print(top_25_students.head())

Top 25% of Students based on Math Score:
     gender race/ethnicity parental level of education     lunch  \
999    male        group E           bachelor's degree  standard
996    male        group A                some college  standard
515  female        group E                some college  standard
517  female        group E          associate's degree  standard
516  female        group E           bachelor's degree  standard

    test preparation course  math score  reading score  writing score
999               completed         100            100            100
996               completed         100             96             86
515                    none         100             92             97
517                    none         100            100            100
516                    none         100            100            100

**Case Study on Testing of Hypothesis **
2. A company started to invest in digital marketing as a new
way of their product promotions. For that they collected
data and decided to carry out a study on it.

In [75]:
import pandas as pd
from scipy.stats import ttest_rel, chi2_contingency

In [76]:
sales = pd.read_csv('/content/Sales_add.csv')
sales.head(6)

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402
5,Month-6,Region - A,Manager - B,137163,256948

In [77]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 5 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Month                           22 non-null     object
 1   Region                          22 non-null     object
 2   Manager                         22 non-null     object
 3   Sales_before_digital_add(in $)  22 non-null     int64
 4   Sales_After_digital_add(in $)   22 non-null     int64
dtypes: int64(2), object(3)
memory usage: 1008.0+ bytes

In [78]:
# a. The company wishes to clarify whether there is any increase in sales after stepping into digital marketing.

before_digital = sales['Sales_before_digital_add(in $)']
after_digital = sales['Sales_After_digital_add(in $)']
t_stat, p_value = ttest_rel(before_digital, after_digital)
print(f"t-statistic: {t_stat}, p-value: {p_value}") # reject the null hypothesis that there is no increase in sales after starting digital marketing

t-statistic: -12.09070525287017, p-value: 6.336667004575778e-11

In [79]:
#b. The company needs to check whether there is any dependency between the features â€œRegionâ€ and â€œManagerâ€.

contingency_table = pd.crosstab(sales['Region'], sales['Manager'])
chi2, p_value, _, _ = chi2_contingency(contingency_table)
print(f"Chi-square statistic: {chi2}, p-value: {p_value}")

#With a p-value of 0.549, which is greater than the typical significance level of 0.05, we fail to reject the null hypothesis. Therefore, there is insufficient evidence to conclude that there is a significant dependency between "Region" and "Manager" based on the data

Chi-square statistic: 3.050566893424036, p-value: 0.5493991051158094